.Titulo {
    color: midnightblue;
    font-family: Arial;
    font-size: 20pt;
    font-weight: bolder;
}

.TextoConsulta {
    color: midnightblue;
    font-family: Arial;
    font-size: 10pt;
}


.Cajas {
    Width: 250px;
    Height: 30px;
    Font-Size: Larger;
}

.Button {
    Width:350px;
    Height:40px;
    background-color: Green;
    Font-Size:Larger;
    color: white;
    border-radius: 4px
}

.buttonBlue {
    Width: 350px;
    Height: 40px;
    background-color: darkblue;
    Font-Size: Larger;
    color: white;
    border-radius: 4px
}

.Container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tr_filtros td{
    width: 350px;
    text-align: justify;
    background-color: gainsboro;
    padding: 10px;
}

.tabla_filtros {
    margin: 10px 70px;
}

.grilla_contactos{
    margin:10px;
}
